// VARIABLES

margin-mobile = 5vw
margin-desktop = 5vh

// IMPORTS

@import 'fonts'
@import 'nav'
@import 'footer'
// (includes md/fountain styles)
@import 'content'

// OUTER STYLES

html
  box-sizing border-box
*
  box-sizing inherit

body
  // gives a nice padding, limits at 650
  // desktop will always fall back on 650
  width 100vw - (2 * margin-mobile)
  max-width 650px
  margin margin-mobile auto
  font-family "Computer Modern"

  // break and wrap
  word-break break-word
  word-wrap break-word
  hyphens auto

  +desktop()
    margin margin-desktop auto

// GENERAL ELEMENT STYLES

a
  // on mobile we want our styling cheap
  // a highlight effect can still be applied
  // but only on focus and hover
  // and with no transition
  text-decoration none
  color black
  border-bottom 1px solid black

  &:active, &:focus
    background red
    outline none

hr
  // evenly space the border
  margin margin-mobile auto
  width 100%
  max-width 400px
  border 0
  border-bottom 2px solid black

  +desktop()
    margin margin-desktop auto

+desktop()
  // don't want use media queries for mobile
  // so apply 'background' to all three
  // (see above)
  a, a:active, a:focus
    // the background slides upward
    // from the underline
    background linear-gradient(to top, red, red 50%, transparent 50%, transparent)
    background-repeat no-repeat
    background-size 100% 200%
    background-position 0 0
    transition background-position 0.15s
  a:hover
    background-position 0 100%

*::selection
  color black
  background red

// (-_-) mozilla
*::-moz-selection
  color black
  background red
