// IMPORTS
@import 'highlight'
@import 'markdown'
@import 'fountain'

// GENERIC CONTENT STYLES

.main, article
  margin margin-mobile 0

  +desktop()
    margin margin-desktop 0

header, .item
  text-align center

  &>h1, &>h2
    margin 0.75rem 0

  h1
    font-size 2rem

  h2
    font-size 1.5rem

  &>:not(h1):not(h2)
    font-family 'Roboto Mono', monospace
    text-transform uppercase
    font-size 0.75rem

header
  max-width 400px
  margin 0 auto

  a, a:hover, a:active, a:focus
    background none
    border-bottom none

.item
  margin margin-mobile 0

  +desktop()
    margin margin-desktop 0

    a, a:active, a:focus
      // background slides sideways this time
      background linear-gradient(to right, red, red 50%, transparent 50%, transparent)
      background-repeat no-repeat
      background-size 200% 100%
      background-position 101% 0
    a:hover
      background-position 0 0

.card
  margin margin-mobile auto
  max-width 400px
  background url('/id-card.png')
  background-size contain
  background-repeat no-repeat
  position relative

  .card-text
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    margin 15px
    max-width 200px
    font-family 'Roboto Mono', monospace
    text-transform uppercase

    // vertically space text
    display flex
    flex-direction column
    justify-content space-around

    *
      margin 0

    h2
      font-weight bold

    +above(400px)
      h2
        font-size 2rem

      margin 30px

  &::before
    // maintain aspect
    // http://stackoverflow.com/a/24175439/3208895
    content ""
    float left
    padding-bottom 63.75%

  &::after
    // clearfix
    content ""
    display table
    clear both

  +desktop()
    margin margin-desktop auto
