footer
  text-align center
  font-family 'Roboto Mono', monospace
  font-size 0.75rem

  a, a:hover, a:active, a:focus
    background none
    border-bottom none
    text-decoration none
    color inherit
