+above(210mm)
  body.fountain
    width 210mm

article.fountain
  font-family 'Courier Prime', Courier, 'Courier New', monospace
  font-size 1rem
  line-height 1

  &>*
    margin-top 1rem
    margin-bottom 1rem

  h1, h2, h3, h4, p
    font-size inherit
    font-weight normal

  h2  // transition
    text-align right
    &.left-aligned
      text-align left

  h3  // scene heading
    font-weight bold

  div.dialogue
    margin-left auto
    margin-right auto
    width 75%

    h4  // character name
      margin auto auto 0 23%

    p
      margin 0 auto
      &.parenthetical
        margin-left 11%

  div.dual-dialogue
    // don't display side-by-side on mobile
    margin-left auto
    margin-right auto

    div.dialogue
      margin-top 1rem
      margin-bottom 1rem

  p
    &.centered
      text-align center
      width 92.5%

    &.section, &.synopsis
      display none

  span.italic
    font-style italic

  span.bold
    font-weight bold

  span.underline
    text-decoration underline

  // at this size we're ≥ a4 paper
  // so lay out like a screenplay
  // i did this using a ruler
  // and something i exported from highland 2
  +above(210mm)
    font-size 12pt
    padding-left 40mm
    padding-right 20mm
    width 210mm

    div.dialogue
      margin-left 25mm
      margin-right 50mm
      width 80mm

      h4
        margin-left 25mm

      p.parenthetical
        margin-left 10mm

    div.dual-dialogue
      margin-left 5mm
      margin-right 5mm
      width 140mm

      div.dialogue
        display inline-block
        margin 0
        width 65mm

        &.right
          float right

        h4
          margin-top 0
