article.markdown
  text-align justify
  line-height 1.5

  +above(rupture.scale[2])
    font-size 1.125rem

  h1, h2, h3, h4, h5, h6
    text-align center
    margin margin-mobile 0

    +desktop()
      margin margin-desktop 0

  p
    margin 1.75rem 0

  img
    width 100%
    border-radius 2px
    box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    margin-bottom margin-mobile

    +desktop()
      margin-bottom margin-desktop 0

  blockquote
    font-style italic

  code
    // for some reason rems were breaking
    // this size is nice
    font-size 14px

  table
    width 100%
    border-collapse collapse
    border-spacing 0

  thead
    border-bottom 1px solid black

  .footnote-ref a
    border-bottom 0
