doctype html
html
	head
		title Huw
		//- Import Icon Font
		link(rel='stylesheet', href='/stylesheets/fontawesome.css')
		link(rel='stylesheet', href='/stylesheets/fontawesome-ie7.css')

		link(rel='stylesheet', href='/stylesheets/style.css')

		//- Import Jquery, Google Maps
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&sensor=false')

		script(src='/javascripts/script.js')

		// All source available @ github.com/huw/personal-site
	body
		div.header
				h1 HUW
				p
					a(href="#me") me
					=" - "
					a(href="#chat") chat
					=" - "
					a(href="#creations") creations
				img.gear(src="/images/gear.png")
		div.content
			div#me
				div.leftcol
					img.profile(src='http://www.gravatar.com/avatar/9531a7acf89bad418f44ab0f695f6c9c?s=100')
					//- Get small version of profile picture in case client is slow to load JQuery or something.
					p My current profile picture
				div.rightcol
					h1 Hi. I'm Huw.
					p
						<span class='replace'></span>
						=" seconds until I turn " + age
					p
						='Made ' + gitCommits + ' commits to GitHub'
					p
						='Gained ' + redditKarma + ' Reddit Karma'
			div#chat
				div.findme
					h1 Find me here
					ul
						li
							span.icon-github
							a(href="https://github.com/huw") /huw
						li
							span.icon-twitter
							a(href="https://twitter.com/huwmakesnoise") @huwmakesnoise
						li
							span.icon-youtube
							a(href="https://www.youtube.com/channel/UC_WTuhxUHF19xnp9MDvS15g") Huw
						li
							span.icon-reddit
							a(href="http://www.reddit.com/u/3vans") /u/3vans
				//- Google Maps goes in this one
				div#map
			div#creations
				div.stuffimade
					h1 Stuff I made
					p that isn't this site
				div.monstercat
					div.box
						h1 
							a(href="http://www.reddit.com/r/Monstercat") /r/Monstercat
						p I was approached by Monstercat staff to bring a fresh style to their subreddit. The current version is a modified version of the Naut theme.
						p.bold='Yesterday\'s pageviews: ' + mcViews
				div.spacerave
					div.box
						h1
							a(href="/space") #spacerave2014
						p An infinite space invaders built entirely in HTML5. Fully responsive, mobile support and infinite gameplay opportunities.
						p.bold
							a(href='https://chrome.google.com/webstore/detail/spacerave2014/gfafkgnfomjgcfhmpkbcieackohdkgfl') Also play it offline with Chrome.
		div.footer
			h1 HUW
			p
				a(href="#me") me
				=" - "
				a(href="#chat") chat
				=" - "
				a(href="#creations") creations
			p "A learning experience is one of those things that say, 'You know that thing you just did? Don't do that'"
			p -Douglas Adams
