doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/fontawesome.css')
		link(rel='stylesheet', href='/stylesheets/fontawesome-ie7.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=' + apiKey + '&sensor=false')
		script(src='/javascripts/script.js')
		// All source available @ github.com/huw/personal-site
	body
		div.header
			h1 HUW
			p
				a(href="#me") me
				|  - 
				a(href="#chat") chat
				|  - 
				a(href="#creations") creations
			img.gear(src="/images/gear.png")
		div.content
			div#me
				div.leftcol
					img.profile(src='http://www.gravatar.com/avatar/9531a7acf89bad418f44ab0f695f6c9c?s=100')
					//- Get small version of profile picture in case client is slow to load JQuery or something.
					p My current profile picture
				div.rightcol
					h1 Hi. I'm Huw.
					p Full name: Huw Evans 
					p
						<span class='replace'></span>
						=" seconds until I turn " + age
					p
						='Made ' + gitCommits + ' commits to GitHub'
					p
						='Gained ' + redditKarma + ' Reddit Karma'
			div#chat
				div.findme
					h1 Find Me Here
					ul
						li
							span.icon-github
							a(href="https://github.com/huw") /huw
						li
							span.icon-facebook
							a(href="https://facebook.com/huw3vans") /huw3vans
						li
							span.icon-gplus
							a(href="https://plus.google.com/+HuwEvansThePerson") +HuwEvansThePerson
						li
							span.icon-twitter
							a(href="https://twitter.com/huwtheperson") @huwtheperson
						li
							span.icon-youtube
							a(href="https://www.youtube.com/channel/UC_WTuhxUHF19xnp9MDvS15g") Huw Evans
						li
							span.icon-medium M
							a(href="https://medium.com/@huwtheperson") @huwtheperson
						li
							span.icon-reddit
							a(href="http://www.reddit.com/u/3vans") /u/3vans
				div#map