doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 HUW
			p
				a(href="#me") me
				|  - 
				a(href="#chat") chat
				|  - 
				a(href="#creations") creations
		block content