/******************************* RESET CSS ******/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/******************************* IMPORT WEB FONTS ******/
@font-face {
	font-family: 'Raleway';
	font-style : normal;
	font-weight: 100;
	src        : url(http://themes.googleusercontent.com/static/fonts/raleway/v7/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style : normal;
	font-weight: 300;
	src        : url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqdbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
	font-family: 'Source Code Pro';
	font-style : normal;
	font-weight: 900;
	src        : url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqXiec-hVyr2k4iOzEQsW1iE.woff) format('woff');
}

/******************************* GENERAL STYLING ******/
p, h2, h3, h4, h5, h6, span, li, td { /* Normalises Fonts */
	font-family: 'Source Code Pro', courier;
	font-weight: 300;
	color      : #FFF;
}
.bold { /* Sets bold style (in case <b> doesn't cut it) */
	font-weight: 900;
}
h1 { /* Sets default header style */
	font-family: 'Raleway', arial;
	font-weight: 100;
	color      : #FFF;
}

/******************************* HEADER SECTION ******/
.header {
	background: #C1CED6;
}
.header p, .header h1, .header a { /* Colours stuff */
	color: #D9723C;
}
.header h1 {
	font-size  : 7em;
	text-align : center;
	padding-top: 1%;
	line-height: 0.8;
}
.header p {
	font-size     : 1.3em;
	text-align    : center;
	padding-bottom: 2%;
	position      : relative;
	width         : 100%;
	z-index       : 2;
}
.header img.gear {
	height           : 350px;
	width            : auto;
	display          : block;
	margin           : 0 auto;
	position         : relative;
	overflow         : hidden;
	float            : center;
	z-index          : 1;
	animation        : rotate-gear 360s linear infinite; /* Animate! */
	-webkit-animation: rotate-gear 360s linear infinite;
}
@keyframes rotate-gear {
	from {
		transform    : rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	to {
		transform    : rotate(360deg);
		-ms-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate-gear {
	from {
		-webkit-transform: rotate(0deg); /* We only need to animate the webkit transforms in the webkit animation */
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

/******************************* ME SECTION ******/
div#me {
	color          : #FFF;
	clear          : both;
	background     : url('/images/cover.jpg');
}
div#me div.leftcol {
	padding: 10% 0;
}
div#me div.leftcol img {
	margin       : 0 auto;
	display      : block;
	border       : 10px solid #FFF;
	box-shadow   : 0px 10px 8px 0px rgba(0, 0, 0, .5);
	margin-bottom: 8px;
	width        : 40%;
}
div#me div.leftcol p {
	text-align : center;
	font-weight: 900;
	font-size  : 1.2em;
}
div#me div.rightcol {
	vertical-align: top;
	text-align    : center;
	padding-bottom: 8%;
}
div#me div.rightcol h1 {
	font-size: 4em;
}
div#me div.rightcol p {
	font-size  : 1.2em;
	line-height: 1.3;
}

/******************************* MEDIA QUERIES ******/
/* Remember, JQuery is only for cool scrolly stuff and making divs 100% height */

@media only screen and (min-width: 481px) { /* Large phones */
	.header h1 {
		font-size: 11em;
	}
	.header p {
		font-size: 2em;
	}

	div#me div.rightcol h1 {
		font-size: 4.5em;
	}
	div#me div.rightcol p {
		font-size: 1.4em;
	}
	div#me div.leftcol img {
		border-width: 15px;
	}
}

@media only screen and (min-width: 768px) { /* Tablet, small laptops */
	.header h1 {
		font-size: 13em;
	}
	.header p {
		font-size: 2.5em;
	}

	div#me div.rightcol h1 {
		font-size: 6em;
	}
	div#me div.rightcol p {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 1030px) { /* Desktop, larger laptops */
	.header h1 {
		font-size: 15em;
	}
	.header p {
		font-size: 2.8em;
	}

	div#me {
		background-size: 100%;
	}
	div#me div.leftcol img {
		width: 90%;
	}

	div#me div.leftcol {
		padding-left: 8%;
		width       : 30%;
	}
	div#me div.rightcol {
		padding-left  : 2%;
		padding-right : 8%;
		padding-top   : 11%;
		padding-bottom: 0;
		text-align    : left;
	}
	div#me div.leftcol, div#me div.rightcol {
		display: inline-block;
	}
}

@media only screen and (min-width: 1240px) { /* Large screens */
	div#me div.rightcol h1 {
		font-size: 7.6em;
	}
	div#me div.rightcol p {
		font-size  : 1.9em;
		line-height: 1.9;
	}
}

/* Retina displays below */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

}
