extends base.pug

block title
  title= title.toLowerCase() + ' — huw'

block main
  block header
    header
      h1= title
      a(href=paths.href)
        time(datetime=created)= moment(created).format("MMMM D, YYYY")
  block content
